OpenRCT2/
chromium/
Thunar/
dconf/
nuclearthrone/
pulse/
pavucontrol.ini
qBittorrent/
xfce4/
GIMP/
freezer/
gtk-2.0/
gtk-3.0/
autostart/
gzdoom/
zdoom/
lxsession/
calibre/
octave/
kdeconnect/
temp/
deadbeef/
nuclear/
vlc/
KDE/
systemd/
cantata/
Clementine/
kde.org/
strawberry/
SlippiOnline/
SlippiPlayback

QtProject.conf
kactivitymanagerdrc
kfontinstuirc
kfontviewrc
mimeapps.list
plasmarc
systemsettingsrc
user-dirs.dirs
user-dirs.locale
konsolerc
kglobalshortcutsrc
okularrc
okularpartrc
dragonplayerrc
baloofilerc
elisarc
kconf_updaterc
kdeglobals
