# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'files/settings-default.cfg' in our source repo or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Shaders]
lighting method = shaders compatibility
maximum light distance = 3768

[Sound]
device = 
hrtf = 
hrtf enable = 1

[Camera]
viewing distance = 2798

[Video]
resolution x = 1280
resolution y = 749

[Input]
always run = false
toggle sneak = true

[Game]
NPCs avoid collisions = true

[Map]
global = false

[Windows]
stats h = 0.515436
stats w = 0.439063
stats x = 0.0148437
stats y = 0.0147651
